include ../title/title
include ../disc/disc
include ../concert/concert

mixin concert-tours(data)
	+b.SECTION.concert-tours&attributes(attributes)#concert
		+title.__title Concert tours
		+disc.__disc Before the release of Night Visions, Imagine Dragons made appearances on American radio and television to promote their extended play, Continued Silence and debut single It's Time. The band performed "It's Time" on the July 16, 2012 airing of NBC late-night talk show The Tonight Show with Jay Leno"
		+concert(concert.defaults)
