// File for less-vars.
// For example: main colors, paddings and so on.
@import 'rupture/rupture'
@import 'slick-carousel/slick/slick.css'

color-main = #798285
color-second = #000
color-single = #f5f6f6

font-base-size = 14px
font-base-family = open_sansregular
font-base-family-light = open_sanslight
font-base-family-bold = open_sansbold
font-second-family = dosis

rupture.scale = 0 425px 768px 1024px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'hd'
rupture.enable-em-breakpoints = true

rupture.mobile-cutoff = 768px
rupture.desktop-cutoff = 1280px

// Gumburger button

$color = #2196f3
$color-button = #bebebe
$button-radius = 50px
$button-line-height = 4px
$burger-width = 0.82 * $button-radius
$burger-gutter = 12px