.concert
	text-align left
	background-image url(__static__assets/concert/bg-concert.jpg)
	background-size cover
	background-position 0 center
	min-height 980px
	color color-second
	
	&__inner
		max-width 666px
		padding-top 315px
		
	&__info
		width 60%
		margin-bottom 60px
		
	&__data
		color rgba(color-second, .65)
		
	&__decor
		border none
		height 1px
		background-color color-second
		
	&__category
		text-transform uppercase
		
	&__title
		font-size 23px
		
	&__disc
		color color-main
		line-height 1.5
		margin 0 0 38px
			