.compositions
	text-align center
	padding-top 162px
	padding-bottom 103px
	
	&__title
		margin 0 0 74px
		
	&__disc
		margin 0 0 163px
		max-width 689px
		
	&__item
		.single__item
			margin-bottom 54px
