.btn
	display inline-block
	vertical-align top
	min-width 196px
	line-height 53px
	color #000
	font-family font-base-family-bold
	text-align center
	border 1px solid #636363
	background-color transparent
	transition all .25s

	&:hover
		box-shadow 0 0 20px rgba(0, 0, 0, 0.5);

	&_link
		text-decoration none

		&:after
			content '\203A'
			margin-left 18px
			font-size 24px
