.contact-form

	&__item
		display block
		width 100%
		border none
		border-bottom 1px solid #000
		padding 10px
		margin-bottom 44px
		background-color transparent
		color color-second

		&_message
			resize none

	&__btn
		color color-second
		font-size 20px
		font-family font-base-family-bold
		text-transform uppercase
		background-color transparent
		border none

		&:hover
			color rgba(color-second, .2)
