include ../title/title
include ../disc/disc
include ../discography-list/discography-list

mixin discography(data)
	+b.discography&attributes(attributes)#discography
		.container
			+title.__title Discography
			+disc.__disc September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard Rock, and now went platinum.
			+discography-list(discographyList.defaults)
		+e.bg-box
