.discography
	text-align center
	
	&__title
		margin 64px 0 51px
		
	&__disc
		max-width 717px
		margin-bottom 157px
		
	&__bg-box
		background-image url(__static__assets/discography/bg-discography.jpg)
		background-size cover
		background-position bottom center
		min-height 778px
		margin-top -350px
		