include ../title/title

mixin events(data)
	+b.SECTION.events&attributes(attributes)#events
		.container
			+e.inner
				+title Upcoming Events
				+e.item
					+e.H3.category Smoke + Mirrors Tour
					+e.P.disc 2-2-15 Hokukoryokuchi, Konohana Ward,</br> 554-0042 Osaka Prefecture Osaka Japan
					+e.date 01.04.2015
				+e.item
					+e.H3.category Smoke + Mirrors Tour
					+e.P.disc When the last-minute request is for a focus group, it’s usually a sign that therequest originated in Marketing. When Web sites are being designed, the folks in Marketing often feel like they don’t have much clout. Even though they’re the ones who spend the most time trying to figure out who the site’s audience is and what they want, the designers and developers are the ones with most of the hands-on control over how the site actually gets put together.
					+e.date 27.05.2015
